@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --title: 'Platypi', sans-serif;
    --text: 'Open Sans', sans-serif;

    --azul: #7776BC;
    --azulClaro: #CDC7E5;
    --branco: #FFFBDB;
    --amarelo: #FFEC51;
    --vermelho: #FF674D;
    --preto: #202020
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
}

main {
    margin: 0 auto;
    max-width: 800px;
    min-width: none;
    max-width: auto;
    min-height: calc(100vh - 95px);
    padding: 80px 40px;
}